* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #dcdcdc;
    font-family: sans-serif;
    word-break: break-word;
}

body {
    background-color: #7e7aaa;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #a09ada;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.column {
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column ul {
    list-style-type: none;
}

.card {
    background-color: #a09ada;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}
