* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #a09ada;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.column {
    background-color: #a09ada;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 250px;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.column ul {
    list-style-type: none;
}
